body{
	font-size:16px;
	color:#000;
	
}

/*header*/
#header-nav{
	color: #fff;
	font-size: 30px;
	background-color:grey;
    border-radius:0;
    border:0;
}

.container h1{
	font-size: 30px;
	color: #000;
	text-align: center;
}


p{   /*where the paragraph is going to fall*/
	border: 1px solid black;
			
	padding: 10px;
    padding-top: 50px;
			
    background-color: #DEB887;
			/*the width is going to take up only 90 % of the grid*/
    height: auto;
    width:100%;
    font-family: Helvetica;
    color: white;
    
}		 
#conten1,#content2,#content3{
	position: relative;
}

#content1 span,#content2 span,#content3 span{
	
	position:absolute;
	top:15px;
	width: 94%;	    
	text-align: center;
			
			
    font-size:1em;
}
